div.container {
  font-family: arial;
  width: 960px;
  margin: 0px auto;
}

#sub-heading{
  color: rgb(235, 174, 50);
  font-size: 2em
}

p.standard-text{
  font-size: 1.5em;
}

ul.standard-block {
  margin: 0px 0px;
}

ul li {
  list-style-type: none;
}

ul li.list a:link{
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

ul li.list a:visited{
  color: white;
  display: block;
}

ul li div.label-primary:hover{
  background: rgb(235, 174, 50);
  text-decoration: none;
}

div.label{
  float: left;
  background: #611f73;
  width: 100px;
  height: 60px;
  font-size: 18px;
  border-radius: 0px;
  line-height: 60px;
  margin: 5px 35px 0px 0px;
}

.description{
  float: left;
  max-width: 750px;
  padding: 0;
}

div.standard {
  padding: 30px 0 30px 40px;
  border-top: 1px solid #ebedf0;
  clear: both;
  display: inline-block;
  width: 1130px;
}

